*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --discord-primary: #265ee9;
    --discord-accent: #8ea1e1;
    --discord-black: black;
    --discord-white: white;
    --discord-footer: #23272b;
    --discord-second: #f6f6f6;
}

/* #Debug Header */

.debug .site_header{
    background-color: aqua;
} 

.debug .site_header>.container{
    height: 40px;
    background-color: yellow;
}

.debug .site_logo, .debug .nav_link, .debug .login{
    border: 1px dashed black;
}

/* Debug Main */

.debug .section_speak{
    background-color: blue;
}

.debug .link_open_app{
    height: 200px;
    background-color: brown;
} 

.debug .section_invite, .debug .section_community{
    background-color: darkgray;
}

.debug .section_invite .col-5 {
    border: 1px dashed black;
    height: 100%;
    background-color: pink;
    height: 200px;
}

.debug .section_invite .col-7 {
    border: 1px dashed black;
    height: 100%;
    background-color: dodgerblue;
    height: 200px;
}

.debug .section_room .col-5 {
    border: 1px dashed black;
    height: 100%;
    background-color: pink;
    height: 200px;
}

.debug .section_room .col-7 {
    border: 1px dashed black;
    height: 100%;
    background-color: dodgerblue;
    height: 200px;
}

.debug .section_community .col-5 {
    border: 1px dashed black;
    height: 100%;
    background-color: pink;
    height: 200px;
}

.debug .section_community .col-7 {
    border: 1px dashed black;
    height: 100%;
    background-color: dodgerblue;
    height: 200px;
}

.debug .info_tecnologies{
    height: 300px;
    background-color: darkgreen;
}

/* Debug Footer */

.debug .site_footer{
    background-color: black;
}

.debug .site_footer .col-4 {
    background-color: crimson;
    height: 200px;
    border: 1px dashed black;
}

.debug .site_footer .col-2 {
    height: 200px;
    border: 1px dashed white;
    background-color: darkolivegreen;
}

.debug .bt_footer{
    background-color: darkolivegreen;
}

.debug .logo_footer{
    background-color: darkred;
    border: 1px dashed black;
}

.debug .button_footer{
    background-color: darkred;
    border: 1px dashed black;
}

/* Utility */

.col-2{
    width: calc((100% / 12) *2);
}

.col-3{
    width: calc((100% / 12) *3);
}

.col-4{
    width: calc((100% / 12) *4);
}

.col-4{
    width: calc((100% / 12) *4);
}

.col-6{
    width: 50%;
}

.col-8{
    width: calc((100% / 12) *8);
}

.col-12{
    width: 100%;
}

p{
    line-height: 150%;
}

button{
    padding: 0.5rem;
    border-radius: 2rem;
    border: none;
    transition: box-shadow 1s linear;
}

.d-flex{
    display: flex;
}

.container{
    width: 80%;
    margin: auto;
    max-width: 1152px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col-"]{
    padding-left: 1rem;
    padding-right: 1rem;
}

.align-items-center{
    align-items: center;
}

/* Header */
.site_header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--discord-primary);
	color: var(--discrod-white);
	padding: 0.5rem 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    z-index: 999;
}



.site_logo, .login{
    flex-grow: 1;
}

.nav_link{
    flex-grow: 2;
	text-align: center;
	list-style: none;
	display: flex;
	gap: 3rem;
	justify-content: center;
}

.site_logo{
    padding-left: 0.5rem;
}

.site_logo>img{
    animation: logo 3s linear;
    filter: opacity(1);
}

.login{
    text-align: right;
    padding-right: 0.5rem;
}

.login button{
    background-color: var(--discord-white);
}

.login button>a{
    color: black;
}

.nav_link>ul{
    display: flex;
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

li{
    list-style: none;
}

.site_header li>a{
    text-decoration: none;
    color: var(--discord-white);
}

.a{
    text-decoration: none;
    color: white;
}

/* Main */
.section_speak{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    height: 550px;
}

.padding_section{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.link_open_app{
    width: 60%;
    margin: 6rem auto;
    text-align: center;
} 

.link_open_app>h1, .link_open_app>p {
    color: var(--discord-white);
}

.link_open_app h1{
    font-size: 40px;
    margin: 3rem 0;
}

.link_open_app>.row{
    margin: 3rem 0;
    margin-right: 1rem;
}

.download_mac{
    background-color: var(--discord-accent);
    font-size: 18px;
    padding: 1rem;
}

.open_browser{
    background-color: var(--discord-black);
    color: var(--discord-white);
    margin-left: 1rem;
    font-size: 18px;
    padding: 1rem;
}

.col-8>img{
    max-width: 100%;
}

[class^="col-"]>img, .info_tecnologies>img{
    filter: blur(3px) brightness(0.5);
    animation: image 5s linear;
    transition: filter 1s linear;
}

.padding_item{
    padding: 1.5rem;
}

.col-4>h2{
    font-size: 36px;
    margin-bottom: 1rem;
}

.wave{
    color: var(--discord-second);
    margin-bottom: -3rem;
}

.wave-top{
    color: var(--discord-second);
    transform: rotate(180deg);
    margin-top: -3rem;
}


.section_tecnologies, .section_room{
    background-color: var(--discord-second);
}

.info_tecnologies{
    margin: auto;
    width: 80%;
    text-align: center;
    max-width: 1152px;
}

.info_tecnologies>h2{
    font-size: 36px;
    margin-bottom: 1rem;
}

[class^="section_"]>.container{
    padding: 2rem 0;
}

p{
    font-size: 18px;
}

.start_adventure{
    font-size: 25px;
    margin: -1rem;
}

.info_tecnologies>.download_mac{
    margin-top: 2rem;
    display: inline-block;
}

.download_mac>.a{
    color: var(--discord-white);
}

.row.column{
    flex-direction: column;
    align-content: center;
}

/* Footer */

.site_footer{
    padding-top: 1rem;
    background-color: var(--discord-footer);
}

.site_footer>.container{
    margin-top: 2rem;
}

.ita.row{
    align-items: flex-end;
    margin: 0 0;
    margin-top: 0.5rem;
    color: var(--discord-white);
}

.site_footer h4{
    color: var(--discord-accent);
    font-size: 20px;
}

.row.social{
    margin: 0;
}

.ita>img{
    height: 25px;
    margin-right: 0.5rem;
}

.social i{
    margin-right: 1rem;
    margin-top: 1.5rem;
    color: #ffffff;
    transition: transform 500ms linear;
}

.site_footer li{
    padding-bottom: 1rem;
}

.site_footer li:first-child{
    color: var(--discord-accent);
}

.site_footer a{
    text-decoration: none;
    color: var(--discord-white);
}

.bt_footer{
    border-top: 1px solid var(--discord-accent);
    width:80%;
    margin:auto;
    max-width: 1152px;
    margin-top: 1rem;
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
}

.logo_footer{
    padding: 0.3rem;
}

.button_footer{
    background-color: var(--discord-accent);
    transition: box-shadow 1s linear;
}

/* animation and transition */

/* button shadow */
button:hover{
    box-shadow: 2px 2px 15px black;
}

.button_footer:hover{
    box-shadow: 1px 1px 8px #9E9E9E;
}

/* animation logo */

@keyframes logo{
    0%{
        filter: opacity(0);
    }

    50%{
        filter: opacity(0.5);
    }

    100%{
        filter: opacity(1);
    }
    
}

/* animation img */

@keyframes image {
    0%{
        filter: blur(0) brightness(1);
    }
    50%{
        filter: blur(1.5px) brightness(0.2);
    }
    100%{
        filter: blur(3px) brightness(0.5); 
    }
}

[class^="col-"] img:hover, .info_tecnologies img:hover{
    filter: blur(0) brightness(1);
}

/* li a header transition */

.site_header li>a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width 500ms ease-out, background-color 500ms ease;
}
.site_header li>a:hover:after {
    width: 100%;
    background: white;
}

/* li a footer animation */

.site_footer li>a:hover {
    color: var(--discord-accent);
}

/* animation link social */

.social i:hover{
    transform: scale(2);
}